<h3>Simple</h3>

<div class="row">
  <div class="col-sm-12">
    <h4>A rectangle</h4>
    <svg viewBox="0 0 500 100">

    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A circle</h4>
    <svg viewBox="0 0 500 100">

    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A group</h4>
    <svg viewBox="0 0 200 150">

    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A path</h4>
    <svg viewBox="0 0 500 200">

    </svg>
  </div>
</div>
