<h3>Style</h3>

<h4>Text with Style</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">

    </svg>
  </div>
</div>

<h4>Patterns</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">

    </svg>
  </div>
</div>
