<h3>Text</h3>

<h4>Text</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">

    </svg>
  </div>
</div>

<h4>Text w/ Auto-Wrap</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">

    </svg>
  </div>
</div>

<h4>Fancy Text</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-text" viewBox="0 0 900 450">

    </svg>
  </div>
</div>
